# Web Crawler Packages
beautifulsoup4==4.8.2
selenium==3.141.0 
pandas==1.1.2
langdetect==1.0.8
requests==2.22.0
lxml==4.5.0
ultimate-sitemap-parser==0.5
# Noise Remover Packages
nltk==3.5
jieba==0.42.1
